:root {
    --light: #A7CFDF;
    --pink: #D95276;
    --aqua: #04BF9D;
    --yellow: #F2CB05;
    --orange: #F29F05;
    --gray: hsl(208, 23%, 45%);
}

body {
    background: #83a4d4;
    /* backup for old browsers */
    background: -webkit-linear-gradient(to right, #b6fbff, #83a4d4);
    /* most browsers */
    background: linear-gradient(to right, #b6fbff, #83a4d4);
}

#page-title {
    font-weight: 700;
    margin: 0;
    color: var(--light);
    line-height: 1.25;
}

h1,
h2,
h3,
h4 {
    color: white;
}
h5 {
    color: #83a4d4;
}
.subheading {
    font-weight: 700;
    color: var(--gray);
    line-height: 1.25;
}

.list-cities {
    background-color: #f2f2f2;
    border-radius: 5px;
    padding: 10px;
    color:#333;
  }
  
  .list-cities ul {
    margin: 0;
    padding: 0;
  }
  
  .list-cities ul li {
    list-style-type: none;
    margin-bottom: 5px;
  }
  
  
.search-history-btn {
    display: inline-block;
    background-color: #ddd;
    color: #333;
    border: none;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.search-history-btn:hover {
    background-color: #aaa;
    color: #fff;
}

.hero-banner {
    background-color: rgba(230, 229, 229, 0.083);
    position: relative;
    background-size: cover;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  }

.hero-banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

.hero-banner h1,
.hero-banner p {
  position: absolute;
  color: #ffffff;
}

.hero-banner h1 {
  top: 150px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 5rem;
}

.hero-banner p {
  top: 250px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 2rem;
}

.icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150px;
    height: 150px;
}

.hero__weather {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.5);
    text-align: center;
}

.hero__temp {
    font-size: 5rem;
    font-weight: 600;
    margin-bottom: 0;
    color: var(--gray);
}

.hero__desc {
    font-size: 2rem;
    font-weight: 500;
    color: var(--gray);
    text-transform: capitalize;
    margin-top: 0;
}

  
/* Style for the card container */
.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  /* Style for the individual card */

  #forecast-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  .forecast-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    width: 200px;
    height: 250px;
    padding: 20px;
  }
  
  .day-of-week {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .forecast-card img {
    width: 80px;
    height: 80px;
    margin-bottom: 10px;
  }
  
  .forecast-card div:not(.day-of-week) {
    margin-bottom: 5px;
  }
   
.hero-icon {
    width: 10%;
    height: 10%;
}

button .subheading {
    color: white;
}

#search-button {
    color: var(--aqua);
    width: auto;
}

#search-button:hover {
    color: var(--yellow);
}

.big {
    font-size: 30px;
}

.today {
    color: #D95276;
    font-size: 1.5rem;
    transform: scale(1.1);
    /* increase size by 10% */
    z-index: 1;
    /* ensures it appears on top of other cards */
}


.button:hover {
    color: var(--pink);
    background-color:#83a4d4;
}